body {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    background-color: #898989;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3em;
    font-weight: 500;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.3em;
    font-weight: 500;
}

p, input, button {
    font-size: 0.75rem;
}

button {
    max-width: 200px;
}

label {
    font-size: 0.6rem;
    margin-bottom: 0;
}

.flex_line {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* ================================================================= */

.good_robot {
    width: 50%;
    background-color: white;
    max-width: 600px;
    padding: 0.5rem;
}

.evil_robot {
    width: 50%;
    color: white;
    background-color: #1D1D1D;
    max-width: 600px;
}

.good_interface {
    max-width: 500px;
    margin: auto;
}

.good_quotesnumber_input, .evil_quotesnumber_input {
    max-width: 100px;
}

.good_quotesbtn {
    margin-top: 2rem;
}

.good_error, .evil_error {
    display: none;
    color: red;
}

.good_quotesdiv {
    margin-top: 1rem;
}