body {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    background-color: #898989;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3em;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.3em;
}

p {
    font-size: 0.7rem;
}

label {
    font-size: 0.6rem;
}

button {
    font-size: 0.7rem;
}

.flex_line {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* ================================================================= */

.good_robot {
    width: 50%;
    background-color: white;
}

.evil_robot {
    width: 50%;
    color: white;
    background-color: #1D1D1D;
}

.good_quotesnumber_input, .evil_quotesnumber_input {
    justify-content: center;
    width: 90%;
}

.good_error, .evil_error {
    display: none;
    color: red;
}