body {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    background-color: #898989;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3em;
    font-weight: 500;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.3em;
    font-weight: 500;
}

p, input, button {
    font-size: 0.75rem;
}

label {
    font-size: 0.6rem;
    margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
    h1 {font-size: 2rem;}
    h2 {font-size: 1.5rem;}
    p, input, button {font-size: 1rem;}
    label {font-size: 0.8rem;}
}

button {
    max-width: 250px;
}

.flex_line {
    display: flex;
    flex-direction: row;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* ================================================================= */

.good_robot {
    width: 50%;
    background-color: white;
    max-width: 600px;
    padding: 0.5rem;
}

.evil_robot {
    width: 50%;
    color: white;
    background-color: #1D1D1D;
    max-width: 600px;
    padding: 0.5rem;
}

.good_interface, .evil_interface {
    max-width: 500px;
    margin: auto;
}

.good_quotesnumber_input, .evil_quotesnumber_input {
    max-width: 100px;
}

.good_quotesnumber_error, .evil_quotesnumber_error {

}

/*  
    border: solid;
    border-color: red;
    border-width: 1px; 
*/

.good_quotesbtn, .evil_quotesbtn {
    margin-top: 2rem;
}

.good_error, .evil_error {
    display: none;
    color: red;
}

.good_quotesdiv, .evil_quotesdiv {
    margin-top: 1rem;
}

.reset_btn {
    width: 400px;
    margin: 1rem;
}

